{{#each rows}}
    <tr>
        <td>
            {{this.label}}
        </td>
        <td>
            {{this.area_cultivated}}
        </td>
        <td>
            {{this.area_affected}}
        </td>
        <td>
            {{this.percentage}}
        </td>
    </tr>
{{/each}}