<div>
    <div class="row">
        <div class="col-lg-3">
            <div>Select a country</div>
            <!--<div id="country_dd"></div>-->
            <select id="country_dd" class="js-example-responsive" style="width: 100%"></select>
        </div>
        <div class="col-lg-3">
            <div>Select a region</div>
            <select id="region_dd" class="js-example-responsive" multiple style="width: 100%"></select>
            <!--<div id="select_all" class="btn pull-right"><i class="fa fa-filter"></i>Select All</div>-->
            <!--<div id="deselect_all" class="btn pull-right"><i class="fa fa-filter"></i>Deselect All</div>-->
        </div>
        <div class="col-lg-3">
            <div>Percentage Threshold</div>
            <select id="threshold_dd" class="js-example-responsive" style="width: 100%">
                <option>-30</option>
                <option>-40</option>
                <option>-50</option>
            </select>
        </div>
<!--        <div class="col-lg-3">
            <div></div>
            <div id="button_zonalsum" class="btn pull-right"><i class="fa fa-filter"></i>Button zonalsum</div>
        </div>-->
    </div>

<!--    <div class="row">
        <div class="col-lg-12" id="table_zonalsum"></div>
    </div>-->
</div>

